body{
    font-family: monospace;
    font-size: 110%;
    background-color: seashell;
    display: flex;
    flex-direction: column;
}

.content{
    margin: 20px;
  padding: 50px;
}
header{
    text-align: center;
    justify-content: center;
    margin: 0px;
}

#heading{
    background-color: lightpink;
    font-size: 110%;
    font-family: monospace ;
    color: rgb(247, 105, 90);
}

#profilePicture{
    width: 20%;
    height: 20%;
    border-radius: 80%;
    border-style: solid;
    border-width: 5px;
    border-color: hotpink;
}
footer{
    text-align: center;
    background-color: rgb(252, 225, 230);
    color: salmon;
}

#sidebar{
    width: 30%;
    background-color: rgb(250, 199, 179);
    padding: 1rem;
    text-align: left;
    background-position: center;
}

.nav-menu{
    list-style-type: none;
    padding: 5%;
}

h2{
    font-size: 30px;
    margin: 20px;
    padding: 30px;
}

.main{
    display: flex;
    flex-direction: row;
    overflow: unset;
}